<a href="https://colab.research.google.com/github/ZozolNat/python/blob/main/HW10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import random
import numpy as np

In [ ]:
lst = ['robot'] * 10 
lst += ['human'] * 10 
random.shuffle(lst) 
df = pd.DataFrame({'whoAmI':lst})
data = df.copy()
data

   whoAmI
0   robot
1   robot
2   human
3   robot
4   robot
5   human
6   robot
7   human
8   robot
9   human
10  human
11  human
12  human
13  robot
14  robot
15  robot
16  human
17  human
18  robot
19  human

In [ ]:
data.head

<bound method NDFrame.head of    whoAmI
0   robot
1   human
2   robot
3   robot
4   robot
5   robot
6   human
7   robot
8   robot
9   human
10  robot
11  human
12  robot
13  human
14  human
15  human
16  human
17  human
18  robot
19  human>

In [ ]:
# То что мы должны получить после применения своего кода
data1 = pd.get_dummies(data['whoAmI'])
data1.head()

   human  robot
0      0      1
1      1      0
2      0      1
3      0      1
4      0      1

# Вариант 1

In [ ]:
data.loc[data['whoAmI'] == 'robot', 'iAmRobot'] = 1
data.loc[data['whoAmI'] == 'human', 'iAmRobot'] = 0
data.loc[data['whoAmI'] == 'robot', 'iAmHuman'] = 0
data.loc[data['whoAmI'] == 'human', 'iAmHuman'] = 1
data2 = pd.DataFrame(data[['iAmRobot', 'iAmHuman']])
data2
# тут я не могу понять почему значения выводятся как float

    iAmRobot  iAmHuman
0        1.0       0.0
1        0.0       1.0
2        1.0       0.0
3        1.0       0.0
4        1.0       0.0
5        1.0       0.0
6        0.0       1.0
7        1.0       0.0
8        1.0       0.0
9        0.0       1.0
10       1.0       0.0
11       0.0       1.0
12       1.0       0.0
13       0.0       1.0
14       0.0       1.0
15       0.0       1.0
16       0.0       1.0
17       0.0       1.0
18       1.0       0.0
19       0.0       1.0

# Вариант 2

In [ ]:
data3 = df.copy()
data3['iAmRobot'] = data3['whoAmI'].apply(lambda x: 1 if x == 'robot' else 0)
data3['iAmHuman'] = data3['whoAmI'].map({'human': 1, 'robot': 0})
data3 = data3.drop('whoAmI', axis=1)
data3.head()

   iAmRobot  iAmHuman
0         1         0
1         0         1
2         1         0
3         1         0
4         1         0

# Вариант 3

In [ ]:
data4 = df.copy()
data4['iAmRobot'] = np.where(data4['whoAmI'] == 'robot', 1, 0)
data4['iAmHuman'] = (data4['whoAmI'] == 'human').astype(int)
data4 = data4.drop('whoAmI', axis=1)
data4.head()

   iAmRobot  iAmHuman
0         1         0
1         0         1
2         1         0
3         1         0
4         1         0